In [56]:
# Import our packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [57]:
import plotly.express as px
import plotly.graph_objects as go
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [58]:
df= pd.read_csv('Data_Professional_Salary_Survey_Responses.csv')
df.rename(columns={' SalaryUSD ': 'SalaryUSD'}, inplace=True)
#show the first 5 rows
df.head()

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2021,12/10/2020 8:22:43,"65,000",Sweden,NaN,Microsoft SQL Server,4,Microsoft SQL Server,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2016,SQL Server 2016,"<= 20,000 (town)",Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2021,12/10/2020 8:23:22,"145,000",United States,76063,Microsoft SQL Server,15,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2014,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
2,2021,12/10/2020 8:23:38,"105,000",United States,43240,Microsoft SQL Server,12,"PostgreSQL, Azure SQL DB (any flavor)",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2017,SQL Server 2008R2,300K-1M (large city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2021,12/10/2020 8:23:48,"46,482",United Kingdom,NaN,Microsoft SQL Server,10,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2012,300K-1M (large city),"Education (K-12, college, university)",Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
4,2021,12/10/2020 8:24:04,"98,800",United States,468,Microsoft SQL Server,5,DB2,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2019,SQL Server 2012,100K-299K (city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1

In [59]:
df.shape

(10341, 31)

## Determine how many missing values are present in each column

In [60]:
# replacing missing values with np.nan
missing_val = ['Not Asked']
df.replace(missing_val, np.nan, inplace = True)

In [61]:
# Look at total NaN values per column
df.isnull().sum()

Survey Year                                0
Timestamp                                  0
SalaryUSD                                  0
Country                                    0
PostalCode                              4701
PrimaryDatabase                            0
YearsWithThisDatabase                      0
OtherDatabases                          1944
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                        5992
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                 7715
DatabaseServers                         1747
Education                               3470
EducationIsComputerRelated              4682
Certifications                          3470
HoursWorkedPerWeek                      3470
TelecommuteDaysPerWeek                  3470
NewestVersionInProduction               6885
OldestVersionInProduction               6884
PopulationOfLargestCityWithin20Miles    5992
EmploymentSector                           0
LookingForAnotherJob                    3470
CareerPlansThisYear                     2898
Gender                                  2898
OtherJobDuties                          6986
KindsOfTasksPerformed                   6573
Counter                                    0
dtype: int64

In [62]:
df.isnull().sum().sum()

83247

## Remove columns that contains NaN more than 30%

In [63]:
df=df.drop(['PostalCode', 'HowManyCompanies', 'CompanyEmployeesOverall', 'Education', 'EducationIsComputerRelated', 
'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek', 'NewestVersionInProduction', 'OldestVersionInProduction',
'PopulationOfLargestCityWithin20Miles', 'OtherJobDuties', 'KindsOfTasksPerformed', 'LookingForAnotherJob'], axis = 1)

In [64]:
df.isnull().sum()

Survey Year                  0
Timestamp                    0
SalaryUSD                    0
Country                      0
PrimaryDatabase              0
YearsWithThisDatabase        0
OtherDatabases            1944
EmploymentStatus             0
JobTitle                     0
ManageStaff                  0
YearsWithThisTypeOfJob       0
OtherPeopleOnYourTeam        0
DatabaseServers           1747
EmploymentSector             0
CareerPlansThisYear       2898
Gender                    2898
Counter                      0
dtype: int64

## Fill nulls values

In [65]:
df['OtherDatabases'] = df['OtherDatabases'].fillna(df['OtherDatabases'].mode()[0])
df['DatabaseServers'] = df['DatabaseServers'].fillna(df['DatabaseServers'].mode()[0])
df['CareerPlansThisYear'] = df['CareerPlansThisYear'].fillna(df['CareerPlansThisYear'].mode()[0])
# We can't fill the Gender by mode. We assume that it is Unknown
df['Gender'] = df['Gender'].fillna('Unknown')
#df['Gender'] = df['Gender'].fillna('None')

## Career Plans for each YEAR

In [66]:
df['CareerPlansThisYear'].value_counts()

Stay with the same employer, same role            7422
Stay with the same employer,  but change roles     864
Stay with the same role, but change employers      848
Prefer not to say                                  609
Change both employers and roles                    598
Name: CareerPlansThisYear, dtype: int64

In [69]:
df['Survey Year'].value_counts()

2018    3094
2017    2898
2021    1747
2020    1723
2019     879
Name: Survey Year, dtype: int64

In [ ]:
#Employment Sector by each year
#dfCareerPlan = df.groupby(['CareerPlansThisYear', 'Survey Year'])\
                     #.size()\
                     #.unstack("Survey Year")\
                     

# Filling null values with 0
#dfCareerPlan.fillna(value = 0, inplace = True)

# Total for each year for the 'Employment Sector'
#dfCareerPlan["sum"] = dfCareerPlan.iloc[:,1:].apply(lambda x: sum(x), axis=1)

# View the data
#dfCareerPlan

In [ ]:
#dfCareerPlan = dfCareerPlan.reset_index()
#dfCareerPlan

In [116]:
Career = df[['CareerPlansThisYear']].groupby(['CareerPlansThisYear']).count()

# Load country list as option for multi select dropdown select
optionsCareer =[{'label': "Select All", 'value': -1}]
for i in range(len(Career.index)):
    optionsCareer.append({'label': Career.index[i], 'value': Career.index[i]})

Career

Empty DataFrame
Columns: []
Index: [Change both employers and roles, Prefer not to say, Stay with the same employer,  but change roles, Stay with the same employer, same role, Stay with the same role, but change employers]

In [117]:
def update_figure(val_country):
    data = df

    if (val_country != -1):
        data = data[data["CareerPlansThisYear"].isin(val_country)]

    data = data.groupby(["CareerPlansThisYear"]).sum().reset_index()
    data = data.reset_index()

    return px.bar(
        data,
        x= "CareerPlansThisYear",
        y= "Survey Year"
    )

## Dashboard

In [123]:
# Build App
app = JupyterDash(__name__)

app.layout = html.Div([
                       
                       html.H1("Our Dashboard"),

                       html.Label('Slider for a year'),
                       dcc.Slider(
                                id = "slide",
                                min=2017,
                                max=2021,
                                step=None,
                                marks={
                                     2017: '2017',
                                     2018: '2018',
                                     2019: '2019',
                                     2020: '2020',
                                     2021: '2021',
                                        0: 'ALL',
                                     },  
                                value= -1,
                             ), 
                       html.Br([]),
                       dcc.Graph(id="careerPlans"),
])

@app.callback(
    Output('careerPlans', 'figure'),

    [Input("slide", "value"),]
)

def update_figure(val_country):
    data = df

    if (val_country != -1):
        data = data[data["Survey Year"].isin(val_country)]

    data = data.groupby(["CareerPlansThisYear"]).sum().reset_index()
    data = data.reset_index()

    return px.bar(
        data,
        x= "CareerPlansThisYear",
        y= "Survey Year",
        
    )



if __name__ == '__main__':
    app.run_server(mode="inline", debug=False)

127.0.0.1 - - [26/Dec/2021 00:43:54] "GET /_shutdown_e0772828-6015-4132-89f1-e58262c7b794 HTTP/1.1" 200 -
 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [26/Dec/2021 00:43:54] "GET /_alive_e0772828-6015-4132-89f1-e58262c7b794 HTTP/1.1" 200 -